/* Animación de cursor parpadeante */
@keyframes blink-cursor {
  50% {
    opacity: 0;
  }
}

.blinking-cursor::after {
  content: '|';
  animation: blink-cursor 0.9s infinite;
  opacity: 1;
}

/* Estilo de la máquina de escribir */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(25, end) forwards, blink-caret 0.9s infinite;
  width: 25ch; /* Asegura que el contenedor mantenga el ancho después de escribir */
}

/* Animación para la escritura del texto */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch; /* Asegura que el contenedor tenga suficiente espacio para el texto */
  }
}

/* Animación para el parpadeo del cursor */
@keyframes blink-caret {
  50% {
    border-right-color: transparent;
  }
}
