/* Animación de cursor parpadeante */
@keyframes blink-cursor {
  50% {
    opacity: 0;
  }
}

.blinking-cursor::after {
  content: "|";
  animation: blink-cursor 0.9s infinite;
  opacity: 1;
}

/* Estilo de la máquina de escribir */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(25, end) forwards, blink-caret 0.9s infinite;
  width: 25ch; /* Asegura que el contenedor mantenga el ancho después de escribir */
}


/* Animación para la escritura del texto */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch; /* Asegura que el contenedor tenga suficiente espacio para el texto */
  }
}

/* Animación para el parpadeo del cursor */
@keyframes blink-caret {
  50% {
    border-right-color: transparent;
  }
}


/* Hardskills */
/* Animación de cursor parpadeante */
@keyframes blink-cursor {
  50% {
    opacity: 0;
  }
}

/* Estilo de la máquina de escribir */
.typewriter-hardSkills {
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  animation: typingHard 1.5s steps(28, end) forwards, blink-caret 0.9s infinite;
  width: 28ch; /* Asegura que el contenedor mantenga el ancho después de escribir */
}

/* Animación para la escritura del texto */
@keyframes typingHard {
  from {
    width: 0;
  }
  to {
    width: 28ch; /* Asegura que el contenedor tenga suficiente espacio para el texto */
  }
}

/* Transiciones cambios de pagina */
.transition-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.hide {
  opacity: 0;
  transform: translateX(-10%);
  z-index: 1;
}

/* Hardskills */
/* Animación de cursor parpadeante */
@keyframes blink-cursor {
  50% {
    opacity: 0;
  }
}

/* Estilo de la máquina de escribir */
.typewriterCreations {
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  animation: typingProjects 1.5s steps(21, end) forwards, blink-caret 0.9s infinite;
  width: 21ch; /* Asegura que el contenedor mantenga el ancho después de escribir */
}

/* Animación para la escritura del texto */
@keyframes typingProjects {
  from {
    width: 0;
  }
  to {
    width: 21ch; /* Asegura que el contenedor tenga suficiente espacio para el texto */
  }
}
